{% extends "base/home.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static 'images/rj.png' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Raeceph Jude Sayson</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-red"></i>Full Stack Software Engineer || Aspiring Data Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-red"></i>Cebu City, Bacolod City Philippines</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-red"></i>raecephsayson@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-red"></i>+639495796628 || +639954405713</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-red"></i>Skills</b></p>
          <p>Python, Java , C#</p>
          <p>Django, Flask</p>
          <p>Machine Learning, Data Science</p>
          <p>Applications  & Web Development</p>
          <p>Testing and debugging</p>
          <p>Windows, Cent Os, Ubuntu, Expert</p>
          <p>PostgreSQL, MSSQL</p>
          <p>MongoDB ,MySQL</p>
          <p>SVN, Github ,TFS, GIT</p>
          <p>Scikit Learn, Numpy, Pandas, </p>
          <p>Data Entry , Excel Dashboards </p>
          

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-red"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
          </div>
          <p>Filipino</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
          </div>
        
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
       
       
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Freelance Developer at AAA Company</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2017 - Jan 2018</h6>
          <p><b>Project-Based:</b> Python Developer</p>
            <p><b>Role:</b> Developer  || Team Size: 2 member || Lifecycle: Project -based</p>
            <p><b>Details: </b> E-Commerce </h6>
            <p><b>Technologies:</b> GITHUB, Python , DJango</b></p>
           <p> <b>Responsibilities:</b></p>
                <p>Creates Prototypes  using balsamiq</p>
                    <p>Creates  CRUD module for ordering products</p>
                        <p>Implemented user registration and account with django framework.</p>
                            <p>Proposed methodologies and best practices that improved product definition and customization for assigned projects</p>
          
          
        <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Development Engineer (Outsourced) of NEC Telecom Software Philippines, Inc.</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
          <p><b>Project-Based:</b> DEV-OPS</p>
        </p><b> Role:</b> Developer  || Team Size: 12 member || Lifecycle: BDD</p>
        </p><b> Details:</b>  Test automation using Java and cucumber statements to check URI behavior.</p>
        </p><b>Technologies:</b> Java, Ruby,  Gitlab Runner, Jira, Grafana UI</p>
        </p><b> Responsibilities:</b></p>
        </p>  Creates XML Test Script using cucumber statements to test System User Interface</p>
        </p>  Performs Code review and debugging.</p>
        </p> Refactored the codes for unit testing and proposed efficient alternatives</p>


        <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Technical Specialist II of Alliance Software, Inc.</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2018 - Dec 2020</h6>

          <p><b>Project-Based:</b> ERP and CRM </p>
          </p><b> Role:</b> Lead Developer  || Team Size: Solo || Lifecycle: Long-Term Support</p>
          </p><b> Details:</b>  A business management software including CRM, e-commerce, billing, and accounting.</p>
          </p><b>Technologies:</b> Python, AWS EC2, PostgreSQL, Odoo Framework.</p>
          </p><b> Responsibilities:</b></p>
          </p> Facilitated the architecture for databse .</p>
          </p> Contributed software engineering expertise with Python</p>
          </p> Develops effecient business logic and XML with Odoo framework.</p>
          </p> Maintains Server Infrastructure using AWS EC2.</p>
          &nbsp;
          <p><b>Project-Based:</b> Document Comparison API (NLP) </p>
          </p><b> Role:</b> Lead Developer  || Team Size: Pair Programming || Lifecycle: TDD</p>
          </p><b> Details:</b>  A Web API for determining changes in legal papers including text planning and text realization.</p>
          </p><b>Technologies:</b> Python 3 and Libraries, Flask Framework, Kibana, Elasticsearch 7.5.0</p>
          </p><b> Responsibilities:</b></p>
          </p>Develop a sentence boundary disambiguation module using Python 3.</p>
          </p>Implemented NLTK Library with the Flask framework.</p>
          </p> Introduced clean code, OOP and best practices to improve codebase maintenance.</p>
          &nbsp;
          <p><b>R&D Based:</b> Image Recognition System </p>
          </p><b> Role:</b> Lead Research Engineer  || Team Size: Solo || Lifecycle: TDD</p>
          </p><b> Details:</b>  Web-based face recognition system for employees' daily log status.</p>
          </p><b>Technologies:</b>Python 3, Django, MongoDB, IBM Watson (API), OpenCV, Tensorflow/Keras, HTML 5</p>
          </p><b> Responsibilities:</b></p>
          </p> Create a dashboard with the Django jinja template and HTML.</p>
          </p> Implemented IBM Watson (API) image recognition pre-trained models.</p>
          </p> Implemented image pre-processing techniques using OpenCV.</p>
          </p> Model building and evaluation with TensorFlow.</p>
          </p> Setup and ran MongoDB queries.</p>
          &nbsp;
          <p><b>Project-Based:</b> DOS-based Sentiment Analysis</p>
          </p><b> Role:</b> Developer  || Team Size: Pair Programming || Lifecycle: TDD</p>
          </p><b> Details:</b>A web crawling and scraping application that analyzes the content of websites to be negative or positive.</p>
          </p><b>Technologies:</b>Python 3, Excel VBA 2016, MS SQL, IBM Watson (API) </p>
          </p><b> Responsibilities:</b></p>
          </p> Implementation of IBM Watson (API) Sentiment Analysis and Language</p>
          </p> Implemented Translation with python packages.</p>
          </p> Implementation of Scrapy library to crawl a site and extract data and parsed using the Beautiful soup library.</p>
          </p> Check for data consitency and applied feature engineering</p>
          </p> Develop VBA Macros in Excel Templates.</p>
          </p> Designed MSSQL server 2016.</p>
          &nbsp;
          <p><b>Project-Based:</b> Project Monitoring System</p>
          </p><b> Role:</b> Developer  || Team Size: 12 Member || Lifecycle: TDD</p>
          </p><b> Details:</b>A Web Monitoring System for project status.</p>
          </p><b>Technologies:</b>React JS, Java Spring, MySQL, Apache Tomcat </p>
          </p><b> Responsibilities:</b></p>
          </p> Assisted in developing and maintaining the business logic and updates front-end. </p>
          </p> Updates Document design.</p>
          </p> Performs Manual Testing</p>

        </div>
      </div>
      


      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Certificates</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Project SPARTA - Track: Data Scientist</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Ongoing</h6>
          <p>DOST SCHOLAR</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Datascience Certificate </b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July - September 2020</h6>
          <p>Analytiks Inc. | https://www.analytiksinc.com/training</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Python for Data Science and Data Analysis Masterclass Certificate</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2020</h6>
          <p>Udemy</p><br>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Python Crash Course</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>November 2020</h6>
          <p>Google - Coursera</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

</body>
</html>

{% endblock %}